@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  font-family: "Ubuntu", sans-serif, monospace;
  --background: whitesmoke;
  --font-color: black;
}
/* Estilo para el fondo general */
body {
  background-color: var(--background);
  text-align: center;
}

/* Estilo para el título animado */
.animated-title {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-color);
}

/* Guion bajo parpadeante */
.cursor {
  display: inline;
  animation: blinkCursor 0.8s step-end infinite;
  color: var(--font-color);
}

@keyframes blinkCursor {
  50% {
    opacity: 0;
  }
}