
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hacker Navbar</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <!-- Título animado -->
    <a href="index.html"><h1 class="animated-title"></h1></a>

    <!-- Barra de navegación lateral izquierda -->
    <div id="navbar"></div>
    <script>
      fetch("/templates/navbar.html")
        .then((response) => response.text())
        .then((data) => {
          document.getElementById("navbar").innerHTML = data;
        });
    </script>
      <!-- Galería de imágenes de ejemplo -->
      <div class="image-gallery">
        <img src="https://via.placeholder.com/300x200" alt="Ejemplo 1" />
        <img src="https://via.placeholder.com/300x200" alt="Ejemplo 2" />
      </div>
      <script src="/js/scripts.js"></script>
      <script src="/js/titleAnimation.js"></script>
    </body>
  </html>